.footer{
    background-color: #333333;
    color: #fff;
}

.footer-top{
    max-width: 1360px; /* 1360px / 16px */
    margin: 0 auto;
    padding: 2.5rem; /* 40px / 16px */
    justify-content: space-between;
    display: flex;
}

.footer-right{
    
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    
}

.footer-right h2{
    font-weight: 400;
    font-size: 1.25rem; /* 20px / 16px */
}

.newsletter-form{
    display: flex;
    flex-direction: column;
}
.footer-columns{
    display: flex;
    
    gap: 1.25rem; /* 20px / 16px */
    
}.footer-columns ul{
   display: flex;
    flex-direction: column;
   gap: 1rem; /* 16px / 16px */
   
}

.footer-columns h3{
    color: #EDEDED;
    font-size: 1.25rem;
    display: block;
    margin-bottom: 1rem; /* 16px / 16px */
    font-weight: 400;
}

.footer-columns li a{
    color: #fff;
}

.footer-columns li a:hover{
    text-decoration: underline;
}

 input{
    border-radius: 1.875rem; /* 30px / 16px */
    padding: 0.75rem 1.25rem; /* 12px 20px / 16px */
    width: 21.5rem; /* 344px / 16px */
}

.footer-social span{
    margin-bottom: 1rem; /* 16px / 16px */
    display: block;
}

.footer-social ul {
   display: flex;
   gap: 1.25rem; /* 20px / 16px */

}

.footer-social li a:hover img{
    opacity: 0.7;
}
    
.footer-bottom{
    font-size: 1.25rem;
    text-align: center;
    padding: 1.25rem 0; /* 20px / 16px */
}