.header{
    background-color: #FFFFFF;
    position: fixed;
    top: 3.75rem; /* 60px / 16px */
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 13.125rem); /* 210px / 16px */
    border-radius: 0.9375rem; /* 15px / 16px */
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.225rem 1.25rem;
}

.logo img{
   height: 3rem; /* 48px / 16px */

}

.nav-center ul {
    display: flex;
    gap: 2.5rem;
}

.nav-center a, .nav-right a{
    font-size: 1.25rem;
    color: #333333;
}    

.nav-center a:hover, .nav-right a:hover{
    color:#7c3aed;
}   

.nav-right ul{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.nav-right img{
    height: 1.25rem; /* 20px / 16px */
}

.nav-right a:hover img{
    opacity: 0.7;
}
