.hero-section {
    background: url(../../img/banners/hero.jpg)no-repeat center;
    background-size: cover;
    height: 31.25rem; /* 500px / 16px */
    position: relative;
    border-radius: 1.25rem; /* 20px / 16px */
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5rem;
}

.hero-content {
    color: #FFFFFF;
    width: 24.25rem; /* 388px / 16px */
    text-align: center;
    margin-top: 3.125rem; /* 50px / 16px */
}

.hero-content h2 {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    line-height: 2rem; /* 32px / 16px */
    font-weight: 400;
    letter-spacing: 0.1875rem; /* 3px / 16px */
}

.hero-content span {
    font-size: 1.25rem;
    font-weight: 400;
}

.hero-buttons {
    gap: 1rem; /* 16px / 16px */
    display: flex;
}

