.hero-section {
    background: url(../../img/banners/hero.jpg)no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5rem;
}

.hero-content {
    color: #FFFFFF;
    width: 388px;
    text-align: center;
    margin-top: 50px;
}

.hero-content h2 {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 3px;
}

.hero-content span {
    font-size: 1.25rem;
    font-weight: 400;
}

.hero-buttons {
    gap: 16px;
    display: flex;
}

