.categories-section {
  
   padding-top: 40px;
   padding-bottom: 40px;
   display: flex;
   flex-wrap: wrap ;
   justify-content: center;
   gap : 30px;
}

.category-card{
    position: relative;
    width: 317px;
    height: 500px;
    background-color: #0000004D;
    border-radius: 15px;
    overflow: hidden;
}

.overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s;
    z-index: 1;
}
.category-name{
    font-size: 1.25rem;
    color: #FFFFFF;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
    z-index: 2;
}

.category-link{
    text-decoration: none;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.casual{
    background: url(../../img/products/tênis\ casual.jpg) no-repeat center;
    background-size: cover;
}

.esporte{
    background: url(../../img/products/twnia\ exportivo.jpg) no-repeat center;
    background-size: cover;
}

.moderno{
    background: url(../../img/products/tênis\ moderno.jpg) no-repeat center;
    background-size: cover;
}

.futurista{
    background: url(../../img/products/tênis\ futurista.jpg) no-repeat center;
    background-size: cover;
}