.card{
     
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 1.25rem; /* 20px / 16px */
    overflow: hidden;
}

.homem{
    grid-area: homem;
    background-image: url(../../img/grid/homem.jpg);
   
}

.tenis-roxo{
    grid-area: tenis-roxo;
     background-image: url(../../img/grid/tênis\ roxo.jpg);
   
}

.mulher{
    grid-area: mulher;
     background-image: url(../../img/grid/mulher.jpg);
   
}

.tenis-colorido{
    grid-area: tenis-colorido;
     background-image: url(../../img/grid/tênis\ colorido.jpg);
    
}

.tenis-pretoazul{
    grid-area: tenis-pretoazul;
     background-image: url(../../img/grid/tênis\ preto\ azul.jpg);
   
}

.tenis-cinza{
    grid-area: tenis-cinza;
    background-image: url(../../img/grid/tênis\ cinza.jpg);
    

}

.grid-section{
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat( 3, 18.75rem); /* 300px / 16px */
    grid-template-areas:
        "homem homem tenis-roxo tenis-roxo"
        "homem homem mulher tenis-colorido"
        "tenis-pretoazul tenis-pretoazul mulher tenis-cinza ";

        
    gap: 1.875rem;
    margin-top: 2.5rem; /* 40px / 16px */
}

.top1-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    
    text-align: center;
}

.card-title{
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0.625rem; /* 10px / 16px */
    color: #EDEDED;
}

.card-subtitle{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.25rem; /* 20px / 16px */
    color: #EDEDED;
}

.cta-group{
    display: flex;
    gap: 0.625rem; /* 10px / 16px */
}

@media (max-width: 768px ) {
    .grid-section{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat( 5, auto); /* 300px / 16px */
        grid-template-areas:
            "homem homem"
            "tenis-pretoazul tenis-pretoazul"
            "mulher tenis-colorido"
            "mulher tenis-cinza"
            "tenis-roxo tenis-roxo";
            max-width: 100%;
            gap: 0.625rem;
    }

    .homem{
        min-height: 31.25rem;
    }

    .mulher{
        min-height: 370px;
    }

    .tenis-pretoazul{
        min-height: 190px;
    }

    .tenis-roxo{
        min-height: 190px;
    }
    
}