/* Estilos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-principal);
  color: #333333;
}

.btn {
    font-size: 1.25rem;
    width: 163px;
    border-radius: 25px;
    height: 48px;
    color: #FFFFFF;
    padding: 10px 20px;
    font-weight: 400;
    transition: background-color 0.3s, border 0.3s;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    line-height: 23px;
}

.btn-filled {
    background-color: #FFFFFF;
    border: none;
    color: #6329A2;
    margin-left: 16px;
}

.btn:hover {
    background-color: #6329A2;
    color: #FFFFFF;
    border-color: #6329A2;
}