/* Estilos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-principal);
  color: #333333;
  padding: 2.5rem 0 2.5rem ;
  margin: 0 auto;
  max-width: 85rem; /* 1360px / 16px */
}




.btn {
    font-size: 1.25rem;
    width: 10.1875rem; /* 163px / 16px */
    border-radius: 1.5625rem; /* 25px / 16px */
    height: 3rem; /* 48px / 16px */
    color: #FFFFFF;
    padding: 0.625rem 1.25rem; /* 10px 20px / 16px */
    font-weight: 400;
    transition: background-color 0.3s, border 0.3s;
}

.btn-outline {
    background-color: transparent;
    border: 0.125rem solid #FFFFFF; /* 2px / 16px */
    line-height: 1.4375rem; /* 23px / 16px */
}

.btn-filled {
    background-color: #FFFFFF;
    border: none;
    color: #6329A2;
    margin-left: 1rem; /* 16px / 16px */
}

.btn:hover {
    background-color: #6329A2;
    color: #FFFFFF;
    border-color: #6329A2;
}